@{
    ViewBag.Title = "About";
}

<div id="wrap">
    <div class="container">
        <img class="bubble-background" src="~/Content/images/static_bubbles.png" />
        <div class="row">
            <div class="col-md-4">
                <div class="text-background">
                    <div class="text-block">
                        <h2>@ViewBag.Title</h2>
                        <p>I work as a software engineer at <a href="http://www.advent.com/" target="_blank">Advent Software</a>. Advent has a 30 year history of delivering portfolio accounting software to more than 4,500 investment managers around the world.</p>
                        <p>At Advent, I spent six years working on <a href="http://www.advent.com/solutions/products/advent-revenue-center" target="_blank">Advent Revenue Center</a>, an invoicing and revenue management application. Our clients used Revenue Center to automate complex portfolio billing calculations and other processes.</p>
                        <p>I'm currently leading the development of an internal operations portal that monitors server and application software logs across customer implementations.</p>
                        <p>I’m interested in building web applications that enable businesses to quickly understand complex business problems.  I especially like creating charts with the <a href="http://d3js.org/" target="_blank">D3.js</a> JavaScript library.</p>
                        <h3>Website</h3>
                        <p>The circles on the main page were created using D3.js’s <a href="https://github.com/mbostock/d3/wiki/Force-Layout" target="_blank">Force Layout</a>.</p>
                        <p>This website is hosted using Microsoft Azure Web Sites.  It uses a webhook to automatically deploy upon each check-in.  Take a look at the <a href="https://github.com/sethisernhagen/personal-web" target="_blank">repository</a> on GitHub.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="push"></div>
</div>
<div class="footer">
    <p>&copy; @DateTime.Now.Year - Seth Isernhagen</p>
</div>
