@{
    ViewBag.Title = "Contact";
}

<div id="wrap">
    <div class="container">
        <img class="bubble-background" src="~/Content/images/static_bubbles2.png" />
        <div class="row">
            <div class="col-md-4">
                <div class="text-background">
                    <div class="text-block">
                        <h2>@ViewBag.Title</h2>
                        <p>Please feel free to contact me.</p>
                        <ul>
                            <li class="contact-item"><span class="fa fa-envelope-o fa-lg contact-item-icon"></span><a class="contact-item-link" href="mailto:sisernhagen@gmail.com">sisernhagen@gmail.com</a></li>
                        </ul>
                        <ul>
                            <li class="contact-item"><span class="fa fa-linkedin-square fa-lg contact-item-icon"></span><a class="contact-item-link" href="https://www.linkedin.com/in/sethisernhagen" target="_blank">LinkedIn</a></li>
                        </ul>
                        <ul>
                            <li class="contact-item"><span class="fa fa-github fa-lg contact-item-icon"></span><a class="contact-item-link" href="https://github.com/sethisernhagen" target="_blank">GitHub</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p>&copy; @DateTime.Now.Year - Seth Isernhagen</p>
</div>

