@{
    ViewBag.Title = "Contact";
}

<div id="wrap">
    <div class="container">
        <img class="bubble-background" src="~/Content/images/static_bubbles2.png" />
        <div class="row">
            <div class="col-md-4">
                <div class="text-background">
                    <div class="text-block">
                        <h2>@ViewBag.Title</h2>
                        <p>Please feel free to contact me.</p>
                        <p>Email<br /><a class="contact-item-link" href="mailto:sisernhagen@gmail.com">sisernhagen@gmail.com</a></p>
                        <p>LinkedIn<br /><a class="contact-item-link" href="https://www.linkedin.com/in/sethisernhagen" target="_blank">www.linkedin.com/in/sethisernhagen</a></p>
                        <p>GitHub<br /><a class="contact-item-link" href="https://github.com/sethisernhagen" target="_blank">github.com/sethisernhagen</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <p>&copy; @DateTime.Now.Year - Seth Isernhagen</p>
</div>

