@{
    ViewBag.Title = "Seth Isernhagen";
}

<div id="chart">
</div>
<div id="absolute-footer" class="footer">
    <p>&copy; @DateTime.Now.Year - Seth Isernhagen</p>
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="@Url.Content("~/Scripts/chart.js")"></script>

